extends layout

block content
  .ui.page.centered.grid
    .eight.wide.column
        h1(class="ui header") Request Extension on a Book
        form(class="ui form" id="extension-form")
            .ui.error.message
                .header(id="extension-error-header")
                p(id="extension-error-body")
            .field
                label Enter your Issue ID
                input(type="text" id="extension-issueID" placeholder="Issue ID")
            .field
                a(class="ui submit button" id="extension-issueid-btn") Search
    .eight.wide.column
        #extension-content.ui.form
            h1(class="ui header") Extension Details
            .two.fields
                .field
                    label Original Checkout Date
                    p(id="extension-originalcheckout")
                .field
                    label Current Extension Date
                    p(id="extension-currentextension")
            .two.fields
                .field
                    label New Checkout Date
                    p(id="extension-newcheckout")
                .field
                    label Current Return Date
                    p(id="extension-currentreturn")
            .two.fields
                .field
                    label New Estimated Return Date
                    p(id="extension-newreturn")
                .field
                    a(class="ui submit button" id="extension-issueid-btn") Submit 

        #hold-content
            .ui.negative.message(id="hold-error")
                .header(id="hold-error-header")
                p(id="hold-error-body")
            table(class="ui table")
                thead
                    tr
                        th Select
                        th ISBN
                        th Title of the Book
                        th Author
                        th Edition
                        th # of copies available
                tbody(id="extension-table")
                    tr
                        td(class="field")
                            .ui.radio.checkbox
                                input(type="radio" name="extension-select")
                        td(class="extension-isbn") 0-000-00000-0
                        td Test Data asdfasdfasdf
                        td Stephen Song
                        td 14
                        td 124124
                    tr
                        td(class="field")
                            .ui.radio.checkbox
                                input(type="radio" name="extension-select")
                        td(class="extension-isbn") 3-444-12355-1
                        td Test Data for Dummies
                        td Bill Leahy
                        td 14
                        td N/A
            a(class="ui submit button" id="hold-back") Back
            a(class="ui submit button" id="hold-submit") Submit