nav(class="ui fixed menu inverted navbar")
       a(href="" class="brand item") Project Name
       a(href="" class="active item") Home
       a(href="" class="item") Features
       a(href="" class="item") Contact