extends layout

block content
  .ui.page.centered.grid
        .eight.wide.column
            h1(class="ui header") Library Database System
            form(class="ui form" action="javascript:alert( 'success!' );")
                .two.fields
                    field
                        label Username
                        input(type="text" id="login-username" placeholder="Username")
                    field
                        label Password
                        input(type="text" id="login-password" placeholder="Password")
                    a(class="ui submit button" id="login-btn") Login
                    | or 
                    a(id="registration-btn") Create an Account